examples/WebContent/WEB-INF/
examples/WebContent/META-INF/
examples/target
examples/.history
examples/build
examples/project/build

lib/src/META-INF/
lib/target/
lib/.history
lib/build
lib/project/build
